# Quizzi V8.2 requirements
# Python 3.14.x

flask==3.1.2
flask-socketio==5.6.0

werkzeug==3.1.5
jinja2==3.1.6
itsdangerous==2.2.0
click==8.3.1
blinker==1.9.0

python-socketio==5.16.0
python-engineio==4.13.0
simple-websocket==1.1.0
wsproto==1.3.2
h11==0.16.0

qrcode==8.2
pillow==12.1.0
colorama==0.4.6

openpyxl==3.1.5
et-xmlfile==2.0.0

bidict==0.23.1

# Production server requirements
gunicorn==21.2.0
gevent==23.9.1
gevent-websocket==0.10.1
